@import 'bootstrap/scss/bootstrap.scss';
@import './color.scss';
@import './fsize.scss';
@import './font.scss';

$supHeaderH: 30px;
$headerH: 70px;
$footerH: 300px;
$carouselH: 500px;
$maxW: 1440px;
$productH: 250px;